* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	background: rgb(241 241 241);
}

header {
	background: #bbcec5;
	
	padding: 2rem 0 3rem;
    text-align: center;
	
	box-shadow: 2px 1px 9px rgb(50 50 50 / 77%);
}

img {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

main {
	display: flex;
	flex-direction: column;
	
	width: min(90vw, 800px);
	margin: auto;
	border-radius: 0.3rem;
	
	padding: 2px;
}

.card {
	margin-top: 1rem;
}

.card-link {
	height: 50px;
	max-width: 100%;
	background: rgb(94, 186, 125);
	color: #fff;
	text-decoration: none;
	
	display: flex;
	align-items: center;
	padding-left:1rem;
}

.card-link:hover {
	background-color: #67CA88;
	border: 1px #010101 solid ;
}

.card p{
	background: white;
	text-align: justify;
		
	padding:1rem;	
	padding-top: 0.5rem;
}


footer {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: center;
	align-content: center;
}